SLACK_URL = "https://hooks.slack.com/services/XX/XX/XX"
DELIVER_USER = "appleid@foritunes.connect"
ONESKY_PUBLIC_KEY = "XYZ"
ONESKY_SECRET_KEY = "XYZ"
FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT = "180"
FASTLANE_XCODE_LIST_TIMEOUT = "180"
