<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>https://apps.apple.com/app/id6748354307</string>
	<key>adapty</key>
	<string>public_live_L5HhOqLa.XGZIfT4ChGsA1aRgwShJ</string>
	<key>email</key>
	<string>onebeatdesigns@outlook.com</string>
	<key>privacy</key>
	<string>https://telegra.ph/Privacy-Policy-06-30-88</string>
	<key>terms</key>
	<string>https://telegra.ph/Terms-of-Use-07-14-4</string>
</dict>
</plist>
